@import '../../styles/mixins/respond-to.scss';

.hero {
  background-color: #1b1c1d;
  color: white;
  padding: 3rem 0;
  text-align: center;

  @include respond-to('tablet') {
    padding: 6rem 0;
  }

  & h1 {
    font-size: 3em;
    font-weight: normal;
    margin: 0 0 2rem 0;

    @include respond-to('tablet') {
      font-size: 4em;
    }
  }

  & h2 {
    font-size: 1.5em;
    font-weight: normal;
    margin: 2rem 0;

    @include respond-to('tablet') {
      font-size: 1.7em;
    }
  }
}


